/* Color Pallette:
#ffffcc; Light yellow / cream
#663300; Dark Brown
#cc9966; Light Brown


rgb(0,102,51) - Green
rgb(212,99,31) - Orange
rgb(51,0,102) - Blue
rgb(173,7,0) - Red */


/* Links */
a {
  color: #a25439;
  font-weight: 600;
}

a:hover {
  color: #aa101a;
  text-decoration: none;
}

/* Buttons and Blocks */
.mission-statement {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 10px;
  line-height: 1.5;
  padding: 1.33333em;
}

/* Buttons */
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget .button {
  background-color: #dc6648;
  border-color: #dc6648;
}

.littlebutton.donatebutton {
  background-color: #c56747; 
}
@media screen and (min-width: 800px) {


  .genesis-nav-menu .menu-item.littlebutton.donatebutton:hover a,
  .genesis-nav-menu .menu-item.littlebutton.donatebutton:hover,
  .littlebutton.donatebutton:hover {
    background: #78361f;
    background-color: #78361f;
    color: #ffffff; 
  }
  .genesis-nav-menu .menu-item.littlebutton.sponsorbutton:hover a,
  .genesis-nav-menu .menu-item.littlebutton.sponsorbutton:hover,
  .littlebutton.sponsorbutton:hover {
    background: #78361f;
    background-color: #78361f;
    color: #ffffff; 
  }

}
.littlebutton.sponsorbutton {
  background-color: #aa101a; 
}

.littlebutton.bluebutton {
  background-color: #dc6648; /* Blue */
  border-color:#dc6648;
  margin-bottom: 6px;
  margin-right: 6px;
  color: #fff;
}
.littlebutton.bluebutton:hover {
  background-color: #a25439; /* Blue */
  border-color:#a25439;
  color: #fff;
}

.littlebutton.yellowbutton {
  background-color: #c99d61; /* Yellow */
  border-color:#c99d61;
  margin-bottom: 6px;
  margin-right: 6px;
  color: #fff;
}
.littlebutton.yellowbutton:hover {
  background-color: #a25439; 
  border-color:#a25439;
  color: #fff;
}

.littlebutton.sponsorbutton {
  background-color: #aa101a; /* Red */
  border-color:#aa101a;
  color: #fff;
}
.littlebutton.sponsorbutton:hover {
  background-color: #a25439; 
  border-color:#a25439;
  color: #fff;
}




.littlebutton a:hover {
  text-decoration: none;
}
.littlebutton .sub-menu a {
  color: #663300;
}
.button:hover {
  background-color:rgba(51,0,102,0.3);
  color: #000;
  text-decoration: none;
}

.genesis-nav-menu a {
  font-size: 15px;
  font-weight: 600;
}

/* Forms */
.page-id-20 .gform_wrapper {
  border-radius: 5px;
  background-color: #dfc4a0;
  color:#663300;
  padding: 30px;
}

.page-id-20 .gfield_label {
  color:#663300;
}

.page-id-20 .gform_button {
  background-color: #dc6648;
}
.page-id-20 .gform_button:hover {
  background-color: #a25439;
}
input[type="checkbox"], input[type="radio"] {
  margin-top: 0px !important;
}

.gf-no-label {
  margin-top: 0px !important;
  line-height: 1.2em;
}
#label_6_4_1 {
  line-height: 1.2em;
}

/* Make it Monthly Margin Fix */
li#field_21_4 {
  margin-top: -36px;
  margin-bottom: 30px;
}

body #input_16_1 {
  width: 100%;
}

/* Let's get brown! */

.site-header,
.front-page .site-header,
.site-header.dark {
  background-color: #a25439;
}

.fonrBrown a {
  color: #ffffff;
}


/* Layout */
.title-area {
  width: 200px;
}

.one-half div.aesop-component {
  margin-top: 0;
  margin-bottom: 0;
}
.reversed-callout {
  position: absolute;
  bottom: 0;
  width:100%;
  text-align: center;
  color:#fff;
  background-color: rgb(172, 11, 16);
  background-color: rgba(172, 11, 16, 1);
  font-weight: bold;
  padding:40px 15px;
}
/* Accomplishments Section */
#front-page-4 .solid-section {
  text-align: left;
}
#front-page-4 .solid-section .widgettitle {
  text-align: center;
}
#front-page-4 .solid-section .center{
  text-align: center;
  font-weight: bold;
}
#front-page-4 .solid-section .one-half img {
  display: block;
  margin: 0 auto;
}
.sidebar {
  margin-top: 170px;
}
.has-featured-image .sidebar {
  margin-top: 0;
}
.widget ul li {
	margin-bottom: 10px;
  padding: 0;
}
.widget ul li a{
	font-weight: 400;
}
.sidebar-menu, .widget_nav_menu {
  margin-top: 0;
}
.sidebar-menu, .widget_subpages, .widget_nav_menu  {
  padding: 30px 20px 20px;
  border: 1px solid #dfc4a0;
}
.sidebar-menu a, .widget_subpages a, .widget_nav_menu a {
  color: #663300;
}
.widget_nav_menu .sub-menu a {
  font-weight: 400;
}
.sidebar-menu a:hover, .widget_subpages a:hover, .widget_nav_menu a:hover {
  text-decoration: none;
  color: rgb(204,153,102);
}
.widget_subpages_current_page, .widget_nav_menu .current-menu-item {
  font-weight: bold;
}
.sidebar .menu > li, 
#menu-supportive-community > li,
#menu-schools > li {
  margin-bottom: 20px;
}
#menu-donation-options > li {
  margin-bottom: 10px;
}
.sidebar .menu > li.menu-item > a,
#menu-supportive-community > li.menu-item > a,
#menu-schools > li.menu-item > a {
  font-weight: 600;
  font-size: 21px;
  display: block;
  margin-bottom: 5px;
}
#menu-donation-options  li.menu-item  a {
  font-weight: 400;
  margin-left:15px;
}
.sidebar .menu li  ul.sub-menu li, 
#menu-supportive-community li  ul.sub-menu li, 
#menu-schools li  ul.sub-menu li {
  margin-left:15px;
}
.sidebar .menu .menu-item-has-children a,
#menu-supportive-community .menu-item-has-children a,
#menu-schools .menu-item-has-children a {
  color: #663300;
  font-size: 18px;
  font-weight: 400;
}
.sidebar .menu .menu-item-has-children a:hover,
#menu-supportive-community .menu-item-has-children a:hover,
#menu-schools .menu-item-has-children a:hover {
  color: #663300;
}
.sidebar .menu .sub-menu a,
#menu-supportive-community .sub-menu a,
#menu-schools .sub-menu a {
  color: #663300;
  font-size: 18px;
}
.sidebar .menu .sub-menu a:hover,
#menu-donation-options a:hover, 
#menu-supportive-community .sub-menu a:hover,
#menu-schools .sub-menu a:hover {
  color: #a25439;
}
.sidebar .menu .sub-menu .current-menu-item a,
#menu-donation-options li.current-menu-item a,
#menu-supportive-community .sub-menu .current-menu-item a,
#menu-schools .sub-menu .current-menu-item a {
  color: #a25439;
  font-weight: 600;
}
.sidebar {
  width: 300px;
}
.content {
  width: 840px;
}

.widget_nav_menu .menu .submenu li a {
  font-weight: 400 !important;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 600px;
  }
}
@media only screen and (max-width: 1010px) {
  .sidebar {
    margin-top: 0px;
  }
  .content,
  .sidebar,
  .site-header .widget-area,
  .title-area {
    width: 100%;
  }

}

.image-section {
  /* less shading overlay for photos that are too dark */
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom,
  rgba(102, 51, 0, 0.0) 0%,
  rgba(0, 0, 0, 0.0) 65%,
  rgba(0, 0, 0, 0.6) 87%,
  rgba(0, 0, 0, 0.85) 100%)
  repeat scroll 0 0;
  /* more shading
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom,
  rgba(102, 51, 0, 0.0) 0%,
  rgba(0, 0, 0, 0.3) 60%,
  rgba(0, 0, 0, 0.6) 87%,
  rgba(0, 0, 0, 0.85) 100%)
  repeat scroll 0 0;
  */
}

.banner-image {
  width: 100%;
  margin-top: -38px;
  margin-bottom: 15px;
}

.childprofile {
  margin-bottom: 15px;
  text-align: center;
}

.childgriditem {
  min-height: 370px;
}

.child-block {
  display: inline-block;
  padding-top: 35px;
  width: 100%;
}

.childprofile span {
  display: block;
}

.childprofile .brownlink{
  margin-top: .5em;
}

.brownlink a {
  background-color: #663300;
  border-radius: 20px;
  padding: 0 20px 0 30px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.brownlink a:after {
  content: ' \25BA';
  font-size: 75%;
}

.brownlink a:hover {
  background-color: rgb(204, 153, 102);
  color: #fff;
}

.entry-content ul > li > ul > li {
  list-style-type: circle;
}

/* Footer magic */
.site-footer {
  padding: 0;
  background-color: #663300;
  color: #ffffff;
}

.site-footer p {
  color: #ffffff;
  text-transform: none;
  font-size: 20px;
}

.site-footer a {
  color: #ffffff;
}
.footer-row {
  overflow: hidden;
  margin: 80px 0 40px 0;
}
.credits {
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  color: #dfc4a0;
}
.site-inner {
  margin-top: 115px;
}

.brownlink {
  /*background-color: #663300;*/
  border-radius: 10px;
  padding: 0 10px;
  color: #ffffff;
}
.footerlogowrap {
  text-align: right;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: 49px;
  background-color: #663300; /* dark brown */
  left: 0;
}

.footerlogo {
  position: relative;
  top: -32px;
  z-index: 10000
}

#footer-4 {
  margin-top: 20px;
  padding-top: 10px;
}

/* Make content wider */
.full-width-content .content {
  padding: 0 8% 50px;
}

/* Polaroid Picture Effect */
figure, figcaption {
  display: block;
}
.polaroid{
  display: inline-block;
  padding:0px 20px;
}
.polaroid figure{
  float:left;
  position:relative;
  width:200px;
  margin:10px 20px;
  padding: 6px 8px 10px 8px;
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  background: #eee6d8;
  background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  -webkit-transform:rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}
.polaroid figure:before {
  content: '';
  display: block;
  position: absolute;
  left:5px;
  top: -15px;
  width: 75px;
  height: 25px;
  background-color: rgba(222,220,198,0.7);
  left:150px;
  top: -15px;
  width: 55px;
  height: 25px;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
}
.polaroid figcaption{
  text-align:center;
  font-size:13px;
  color:#454f40;
  letter-spacing:0.09em;
}
/**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
.polaroid figure{
  -pie-background: linear-gradient(#ede1c9, #fef8e2 20%, #f2ebde 60%);
  behavior: url(assets/pie/PIE.htc);
  position:relative; /*required to make PIE work*/
  padding-top:10px\9;
  padding-right:10px\9;
}

.inline-headshot {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

.child-photos {
  text-align: center;
}

.child-portrait.right-tnail {
  float: right;
  width: 250px;
  padding-left: 15px;
  padding-bottom: 15px;
}

#schoolmap {
  height: 500px;
  margin-bottom: 20px;
}

.oneslide {
  display: inline-block;
  padding: 10px;
}

.hidden {
  display: none;
}

.hide_price_label .ginput_product_price_label {
  display: none;
}

.genesis-nav-menu .sub-menu a {
  background-color: #c99d61;
  background-color: rgba(201,157,97,0.95);
  border-top: 1px solid #dfc4a0;
}
.genesis-nav-menu .sub-menu a:hover {
  background-color: #c99d61;
}
.genesis-nav-menu .sub-menu a:active {
  background-color: #c99d61;
}
/*.genesis-nav-menu .menu-item .sub-menu .current-menu-item {
background-color: rgb(204,153,102);
}*/


@media screen and (min-width: 800px) {


  .genesis-nav-menu .menu-item:hover > a,
  .genesis-nav-menu .menu-item a:hover {
    background-color: #c99d61;
    color: #fff;
  }

  .genesis-nav-menu .menu-item .sub-menu li.current-menu-item a,
  .genesis-nav-menu .menu-item .sub-menu a:hover {
    background-color: #a25439;
  }
    .genesis-nav-menu .sub-menu a:hover,
  .genesis-nav-menu .sub-menu li.current-menu-item > a {
    background-color: rgb(204,153,102);
    color: #fff;
  }
}




.downarrow {
  margin: 60px 0;
}
.row_of_children {
  overflow: hidden;
  margin-top: 140px;
}
.polaroid {
  overflow: hidden;
}

.gfield_label{
  font-weight: bold;
  color: #333;
}

.widget-title{
  font-weight: bold;
  color: #663300;
}
.widget-wrap ul li.cat-item a {
  font-weight: 400;
}
@media only screen and (max-width: 1020px) {
  .title-area {
    width: 100%;
  }
  .site-inner {
    margin-top: 46px;
  }
}
@media only screen and (max-width: 800px) {
  .site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
  .site-header .genesis-nav-menu.responsive-menu .sub-menu li a,
  .site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
  .site-header .genesis-nav-menu.responsive-menu .sub-menu,
  .site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
  .site-header .genesis-nav-menu.responsive-menu > li:hover > a,
  .site-header .genesis-nav-menu.responsive-menu a:hover {
    color: #ffffff;
    
  }
  .site-header .genesis-nav-menu .sub-menu li > a {
    padding: 10px 20px;
  }
  .site-header .genesis-nav-menu .sub-menu li.current-menu-item > a {
    background-color: #c99d61;
    padding: 10px 20px;
  }

  .littlebutton.donatebutton,
  .littlebutton.sponsorbutton {
    background-color: transparent;
  }
  .littlebutton.donatebutton a,
  .littlebutton.donatebutton a:hover {
    color: #dc6648; /* Green */
  }

  .littlebutton.sponsorbutton a,
  .littlebutton.sponsorbutton a:hover {
    color: rgb(212,99,31); /* Orange */
  }

}

.sponsor-news {
  min-height: 160px;
  height: auto;
  margin-bottom: 50px;
}

.sponsor-news ul {
  padding-bottom: 20px;
}


.scanned-docs-section {
    padding-bottom: 35px;
}

.divTableRow {
   display: -webkit-flex;
   display: flex;
   border: 1px solid rgb(192,192,192);
  /*-webkit-flex-direction: column;
   flex-direction: column;*/
   padding: 5px;
}
.answer {
   /* This will be twice as big as the small item. */
   -webkit-flex: 2 0 0;
   flex: 3 0 0;
   padding: 5px;

}
.question {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
   padding: 5px;
   font-weight: bold;
}

.sectionTitle {
  flex: auto;
  /*border-bottom: 1px solid #000;*/
}

.sectionTitle h2 {
  font-weight: bold;
  padding-top: 40px;
}

.sectionHeader h3 {
  padding-top: 40px;
  font-weight: 500;
}

.back {
  padding-top: 40px;
  font-weight: bolder;
  text-align: center;
}

